
<div class="text-layout">
  <!-- <h1>  {{nombre | uppercase}} </h1>
  <h1>  {{valor | number}} </h1>
  <h1>  {{obj | json}} </h1> -->

  <!-- <button (click)="mostrarNombre()">
    Cambiar Nombre
  </button> -->

  <!-- <button pButton 
          class="p-button-help"
          type="button" 
          label="Cambiar Nombre" 
          icon="pi pi-bell" 
          iconPos="right"
          (click)="mostrarNombre()" >
  </button> -->

  <!-- <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
  </p-card>-->

  <app-menu></app-menu>
  <router-outlet></router-outlet>
  

</div>